<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="views/static/css/styles.css">
</head>
<body>


	<div id="wrapper">
		
		<header>

			<div id="hero">
				<img src="views/static/img/system/hero.png" alt="">
			</div>
			

			<div id="control">
				<a href="?slug=login" class="btn__login">Ingresar</a>
				<a href="?slug=register" class="btn__register">Registrame</a>
			</div>
		</header>

		<content>

			<div id="window">
				
				<div id="window__content">
					
					<div id="window__img">
						<img src="views/static/img/system/landing.svg" alt="">
					</div>


					<div id="window__description">

							<h1>Bienvenido a MBCORP X</h1>
						<h3>Ya somos {{CANT_USERS}} de usuarios, vos tenes que ser uno/a más</h3>

						<h3>Tenemos {{CANT_PRODUCTS}} disponibles</h3>
					</div>

				</div>

			</div>
			
		</content>

		<footer>

			<div id="author">
				@mattprofe
			</div>

			<div id="map">
				<ol>
				  <li>Landing</li>
				  <li>Login</li>
				  <li>Register</li>
				</ol>
			</div>
			
		</footer>



	</div>

	
	
</body>
</html>