<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="views/static/css/styles.css">
</head>
<body>


	<div id="wrapper">
		
		<header>

			<div id="hero">
				<a href="?slug=landing">
					<img src="views/static/img/system/hero.png" alt="">
				</a>
			</div>
			

			<div id="control">
				
				<a href="?slug=logout" class="btn__register">Cerrar sesión</a>
			</div>
		</header>

		<content>

			<div id="window">
				
				<div id="window__content">
					
					<div id="window__img">
						<img src="views/static/img/system/landing.svg" alt="">
					</div>


					<div id="window__description">

							<h1>Panel de {{NAME_USER}}</h1>
					</div>

				</div>

			</div>
			
		</content>

		<footer>

			<div id="author">
				@mattprofe
			</div>

			<div id="map">
				<ol>
				  <li>Landing</li>
				  <li>Login</li>
				  <li>Register</li>
				</ol>
			</div>
			
		</footer>



	</div>

	
	
</body>
</html>