@extern('header')


	<div id="wrapper">
		
		<header>

			<div id="hero">
				<a href="landing">
					<img src="views/static/img/system/hero.png" alt="">
				</a>
			</div>
			

			<div id="control">
				
				<a href="login" class="btn__login">login</a>
			</div>
		</header>

		<content>

			<div id="window">
				
				<div id="window__content">
					
					<div id="window__img">
						<img src="views/static/img/system/login.svg" alt="">
					</div>


					<div id="window__description">

							<h1>Registro</h1>

							<form action="" method="POST">
								
								<div id="error_msg">{{MSG_ERROR}}</div>

								<input type="email" name="txt_email" placeholder="Email" required>
								<input type="password" name="txt_password" placeholder="Clave" required>
								<input type="submit" name="btn_register" value="Registrarme">


							</form>
					</div>

				</div>

			</div>
			
		</content>

@extern('footer')