:root{
	--bg-color:#00001a;
	--bg-header:#003049;
	--bg-window:#669bbc;
	--bg-footer:#780000;

	--headerHeight: 100px;
	--footerHeight: 60px;
}

*{
	padding: 0rem;
	margin: 0rem;
	box-sizing: border-box;
	font-family: sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bg-header);
	padding: 1rem;
	height: var(--headerHeight);
}

header img{
	height: calc(var(--headerHeight) - 25px);
}

header .titulo{
	color: gold;
}

content {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-color);
	height: calc(100vh - var(--footerHeight) - var(--headerHeight));
	position: relative;
}

footer {
	display: flex;
	justify-content: space-around;
	background-color: var(--bg-footer);
	padding: 1rem;
	color: var(--bg-color);
	position: fixed;
	width: 100%;
	height: var(--footereight);
	color: #eee;
	font-weight: 600;
	font-size: 20px;
	bottom: 0;
}

.card{
	background-color: #eee;
	width: auto;
	min-width: 50%;

	.header{
		background-color: gold;
		text-align: center;
		padding: 8px 0;
		font-size: 22px;
	}
	.contenido{
		padding: 8px;

		p{
			text-align: center;
			font-size: 18px;
		}

		a{
			display: block;
			border-radius: 500px;
			background-color: gold;
			border: solid 1px black;
			margin: 16px 0;
			margin-top: 50px;
			transition: 100ms;
			width: fit-content;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			color: #000;
			text-decoration: none;

			p{
				font-size: 24px;
				margin: 4px 16px;
			}

			&:hover{
				background-color: #ddd;
			}

			&:active{
				transition: 50ms;
				background-color: #aaa;
			}
		}

		table{
			width: 100%;
			border-spacing: 1px;
			border: 1px solid black;
			user-select: none;
			padding: 4px;

			thead{
				background-color: #3e3eff;
				color: #eee;
				font-size: 20px;
				font-weight: 600;
				text-align: center;
				height: 26px;
			}

			tbody{
				tr{
					background-color: #ddd;

					td{
						padding-left: 4px;
					}

					&:nth-child(even){
						background-color: #999;
					}

					&:hover{
						transition: 100ms;
						transform: scale(1.01);
						background-color: rgb(190, 181, 127);
					}
				}
			}
		}
	}
}

.detalle{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	width: 100%;
	height: 100%;
	padding: 16px;

	.control{
		background-color: #1d1c3ba4;
		width: 350px;
		height: 100%;
		padding: 30px 6px;
		display: flex;
		flex-direction: column;
		gap: 8px;
		overflow-y: scroll;
		overflow-x: hidden;
		scrollbar-width: thin;

		.titulo{
			margin-bottom: 24px;

			h2{
				color: #fff;
				text-align: center;
				font-size: 32px;
			}
		}

		.volver{
			display: flex;
			align-items: center;
			gap: 8px;
			width: fit-content;
			background-color: #e03333;
			color: #eee;
			text-decoration: none;
			font-size: 20px;
			font-weight: 600;
			padding: 0 12px;
			border-radius: 8px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin-bottom: 30px;
		}

		.btn{
			position: relative;
			background-color: #33333360;
			display: grid;
			grid-template-columns: 24px 1fr;
			align-items: center;
			padding: 8px;
			padding-left: 24px;
			gap: 8px;
			color: #fff;
			user-select: none;
			transition: 100ms;

			i{	
				font-size: 24px;
			}

			&:hover{
				background-color: #77777760;
			}

			.select{
				position: absolute;
				width: 6px;
				height: 100%;
				background-color: red;
				top: 0;
				left: 0;
			}
		}

		.doble{
			display: flex;
			flex-direction: column;
			align-items: start;
			
			.box{
				display: grid;
				grid-template-columns: 24px 1fr;
				align-items: center;
				gap: 8px;

				&:nth-child(2){
					color: #eee;
					font-size: 14px;
	
					i{
						font-size: 20px;
					}
				}
			}

		}
	}

	.contenido{
		position: relative;
		background-color: #eeeeee60;
		flex-grow: 1;
		height: 100%;
		overflow: hidden;
		scrollbar-width: thin;
		display: grid;
		grid-template-rows: auto 1fr;

		.dato{ 
			width: 100%;
			color: #fff;
			margin: 8px;

			.date, .ubicacion{
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 8px;

				p, .fecha{
					font-size: 15px;
					font-weight: 600;
				}

				h3, .ubi{
					font-size: 28px;
				}
			}

			.templateContent{

			}
		}

		.info{
			display: flex;
			justify-content: space-around;
			
			.container{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				color: #fff;

				.titulo{
					font-weight: 600;
				}

				.direccionViento{
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 8px;
					font-weight: 600;
					font-size: 28px;
				}

				.cantidad{
					display: flex;
					justify-content: center;
					align-items: center;

					.unit{
						font-size: 80px;
						margin: 0;
					}
					
					.porcentaje{
						font-size: 37px;

						h4{
							margin: 0;
						}
					}
				}

				.maxmin{
					display: flex;
					justify-content: space-around;
					align-items: center;
					gap: 16px;
					
					.content{
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
					}
				}
			}
		}

		.grafica{
			margin: 8px;
			background-color: #11111190;
			border-radius: 8px;
			height: 250px;
		}
	}
}

.colorNaranja{
	color: #ffbf69;
}

.colorRojo{
	color: red;
}

.colorCeleste{
	color: cyan;
}

.colorFuego{
	color: #ec512b;
}

.colorVerde{
	color: green;
}

.colorVerdeClaro{
	color: #6ee55d;
}

.colorGris{
	color: #e0fbfc;
}